h1 {
    color: red;
    font-size: 100px;
}

img {
    width: 20%;
    height: auto;
    background-color: blueviolet;

}

.bacon {
    background-color: green;

}

.broccoli {
    background-color: red;
}
#heading {
    color: blue;
}

.circular{
    border-radius: 100%;
}
img:hover {
    background-color: gold;
}